@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {

    --color-primary: #ffff;
    --color-black: #040404;
    --gradient-color: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    /* --text-accent: hsl(195, 2%, 78%); */
    /* --accent-blue: hsl(205, 100%, 48%); */

    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 14px;
    --fs-22: 10px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-35: 35px;
    --fs-39: 39px;
    --fs-49: 49px;
    --fs-70: 26px;

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

}

@font-face {
    font-family: 'agnostic';
    src: url(/assets/font/agnostic/Agnostic.ttf);
}

.ff-agnostic {
    font-family: "Agnostic";
}

.ff-robata {
    font-family: 'Roboto', sans-serif;
}

.ff-popins {
    font-family: 'Poppins', sans-serif;
}

.color-black {
    color: var(--color-black);
}

.gradient-color {
    background: var(--gradient-color);
}

.white-color {
    color: var(--color-primary);
}

.black-color {
    color: var(--color-black);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-35 {
    font-size: var(--fs-35);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-39 {
    font-size: var(--fs-39);
}

.fs-49 {
    font-size: var(--fs-49);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}
.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.w-82 {
    width: 92%;
}

.py-7 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width:567px) {
    :root {
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-18: 18px;
        --fs-20: 20px;
        --fs-22: 22px;
        --fs-25: 25px;
        --fs-28: 28px;
        --fs-30: 30px;
        --fs-35: 35px;
        --fs-39: 39px;
        --fs-49: 49px;
        --fs-70: 70px;
    }
}

@media (min-width:768px) {
    :root {
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-18: 18px;
        --fs-20: 14px;
        --fs-22: 16px;
        --fs-25: 25px;
        --fs-28: 28px;
        --fs-30: 30px;
        --fs-35: 35px;
        --fs-39: 39px;
        --fs-49: 49px;
        --fs-70: 48px;
    }
    .w-82{
        width: 92%;
    }
}

@media (min-width:992px) {
    :root {
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-18: 16px;
        --fs-20: 18px;
        --fs-22: 22px;
        --fs-25: 25px;
        --fs-28: 28px;
        --fs-30: 30px;
        --fs-35: 35px;
        --fs-39: 39px;
        --fs-49: 49px;
        --fs-70: 70px;
    }
    .w-82{
        width: 95%;
    }
}

@media (min-width:1024px) {
    
}

@media (min-width:1200px) {
    :root {
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-18: 18px;
        --fs-20: 20px;
        --fs-22: 22px;
        --fs-25: 25px;
        --fs-28: 28px;
        --fs-30: 30px;
        --fs-35: 35px;
        --fs-39: 39px;
        --fs-49: 49px;
        --fs-70: 70px;
    }

    .w-82 {
        width: 82%;
    }
}

@media (min-width:1400px) {
    .w-82 {
        width: 72%;
    }
}