/* jatin starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
    /* border: 1px solid white; */
}

ul {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

p {
    margin-bottom: 0px !important;
}
.cursor{
  cursor: pointer;
}

.btn-1 {
    padding: 14px 19px 13px 20px;
    border: none;
    border-radius: 100px;
    box-shadow: -1px 5px 13px -2px rgba(255,80,1,1);
}

.nav-links{
  transition: all 400ms;
}
.nav-links:hover:not(:focus) {
    border-bottom: 2px solid white;
}

.nav-bar:hover .nav-links:not(:focus, :hover) {
    color: grey;
}

.nav-bar {
    position: absolute;
    top: 0;
    left: -100%;
    background:black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    transition: all 500ms linear;
    gap: 10px;
}
.menu-button {
    height: 10px;
    width: 30px;
    border: none;
    background: none;
}

.menu-button span {
    border: 2px solid white;
    display: flex;
    margin-bottom: 5px;
    border-radius: 2px;
}

.menu-line1 {
    transform: rotate(45deg);
    position: relative;
    top: 12px;
    transition: all 300ms;
}

.menu-line2 {
    position: relative;
    top: 4px;
    transform: rotate(-45deg);
    transition: all 300ms;
}

.menu-line3 {
    opacity: 0;
}
.left_0 {
    left: 0;
}

.bg-hero {
    background: url(/assets/images/png/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-gradient {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cartoon-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34%;
    min-width: 200px;
    max-width: 448px;
}

.cartoon-2 {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 27%;
    min-width: 194px;
    max-width: 340px;
}

.cartoon-3 {
    position: absolute;
    bottom: 0;
    right: 27%;
    width: 24%;
    min-width: 170px;
    max-width: 320px;
}

.cartoon-4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32%;
    min-width: 200px;
    max-width: 425px;
}

.btn-2 {
    padding: 7px 21px 7px 21px;
    border: none;
    border-radius: 100px;
    box-shadow: -2px 5px 15px -2px rgba(255,80,1,1);
}

.card-main {
    border-radius: 18px;
    position: relative;
    padding: 25px 27px;
    backdrop-filter: blur(31.478700637817383px);
}

.card-main::after {
    content: "";
    position: absolute;
    border-radius: 18px;
    padding: 2px;
    background: linear-gradient(10deg, #FED710 0%, #FF5001 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}
.nav-link {
    color: white !important;
    font-family: "Agnostic";
    font-size: 12px !important;
    font-weight: 400 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    border-radius: 100px;
    box-shadow: -2px 5px 15px -2px rgba(255,80,1,1);
}

.nav-pills .nav-link {
    border-radius: 100px !important;
    background: linear-gradient(180deg, #1B1B1B 0%, #090909 100%);
}

.btn-3 {
    padding: 12px 32px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    color: white;
    box-shadow: -2px 5px 15px -2px rgba(255,80,1,1);
}

.circle-rarity {
    position: absolute;
    border-radius: 334px;
    background: #781D00;
    filter: blur(250px);
    height: 334px;
    width: 334px;
}

.btn-4 {
    padding: 13px 25px 12px 25px;
    border: none;
    border-radius: 90px;
    box-shadow: -2px 5px 15px -2px rgba(255,80,1,1);
}

.min-h-100 {
    height: 70vh;
}

.gifimg {
    width: 90%;
    min-width: 280px;
    max-width: 540px;
}

.footer-card {
    border-radius: 17px;
    position: relative;
    padding: 34px 37px;
    backdrop-filter: blur(31.478700637817383px);
}

.footer-card::after {
    content: "";
    position: absolute;
    border-radius: 17px;
    padding: 1.25px;
    background: linear-gradient(10deg, #FED710 0%, #FF5001 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.play-btn {
    border: none;
    background: none;
}

.circle-play {
    position: relative;
    background: #FF5001;
    opacity: 30%;
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    left: 31%;
    bottom: 1px;
}

.circle-play2 {
    position: absolute;
    background: #FF5001;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    top: 15%;
    left: 45%;
}

.circle-play3 {
    position: absolute;
    background: #FED710;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    top: 23%;
    left: 52%;
}

.play-icon {
    position: absolute;
    top: 37%;
    left: 70%;
    width: 28%;
    min-width: 10px;
    max-width: 27px;
}

.play-btn {
  position: absolute;
  left: 34%;
  top: 92%;
}
.footer-img{
    width: 100%;
    min-width: 257px;
    max-width: 623px;
}
.scroll-btn::-webkit-scrollbar{
  display: none;
}
.line-foot{
    width: 100%;
    opacity: 0.1;
background: #FFF;
height: 1px;
}
.footer-cartoon1{
    position: absolute;
    bottom: 0;
    left: -3%;
    width: 39%;
    min-width: 145px;
    max-width: 360px;
}
.footer-cartoon2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 39%;
    min-width: 130px;
    max-width: 360px;
}

.btn-hover{
    position:relative;
    overflow:hidden;
}
.btn-hover:after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }
  /*This activates the sheen once the button has been hovered*/
  .btn-hover:hover::after, .btn-hover:focus::after {
    animation: sheen 1s forwards;
  }
  @keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }

  .teamsectionbgimg {
    background-image: url(../images/png/teamsectionbgimg.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background:linear-gradient(180deg, #fed710 0%, #ff5001 100%) ;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }
  
  @keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
  }
  @keyframes loaderBlock {
  0%, 30% { 
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    transform: rotate(90deg);
  
  }
  }
  @keyframes loaderBlockInverse {
  0%, 20% { 
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    transform: rotate(-90deg);
  }
  }
  #preloader {
  z-index: 1;
  }
  .overflow_hidden{
  overflow: hidden;
  }
  



/* Manoj starts */
.pt_98 {
  padding-top: 98px;
}
.pt_91 {
  padding-top: 61px;
}
.pb_70 {
  padding-bottom: 50px;
}
.imgcard {
  border-radius: 17.393px;
  border: 1.263px solid #ff5001;
  background: linear-gradient(
      181deg,
      rgba(0, 0, 0, 0) 54.59%,
      rgba(0, 0, 0, 0.78) 90.17%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat,
    linear-gradient(
      124deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.03) 101.73%
    );
  backdrop-filter: blur(31.574848175048828px);
}
.imgcard:hover {
  box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.5);
}
.imgtext {
  position: absolute;
  bottom: 0%;
}
.circle-1{
  position: relative;
  top: -190px;
  left: 80%;
  height: 414px;
  width: 414px;
  border-radius: 413.56px;
background: #781D00;
filter: blur(250px);
}
.circle1-inner{
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='97' ry='97' stroke='%23FFAE01FF' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 97px;
height: 119px;
width: 119px;
  top: -4%;
  right: -4%;
}
.circle1-inner2{
  position: absolute;
  border:1px dotted #FED710;
border-radius: 150px;
height: 249px;
width: 249px;
  top: -4%;
  right: -4%;
}


.loader-animate {
width: 100px;
height: 100px;
animation-name: spin;
animation-duration: 5000ms;
animation-iteration-count: infinite;
animation-timing-function: linear; 
/* transform: rotate(3deg); */
 /* transform: rotate(0.3rad);/ */
 /* transform: rotate(3grad); */ 
 /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

br {
display: none;
}
  /* section_stash */
  .stashsectionbgimg {
    background-image: url(../images/png/stashsectionbgimg.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .pt_120 {
    padding-top: 50px;
  }
  .line_ht {
    line-height: 174%; /* 43.5px */
  }
  /* .w-69 {
    width: 69%;
  } */
  .pt_30 {
    padding-top: 30px;
  }
  .pb_40 {
    padding-bottom: 40px;
  }
  .stash {
    background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .stashborder {
    border-radius: 14.992px;
    border: 1.089px solid #ff5001;
    background: linear-gradient(
      124deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.03) 101.73%
    );
    backdrop-filter: blur(27.21642303466797px);
    box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.5);
  }
  
  .mx_12 {
    margin: 12px;
  }
  
  .closepeti {
    position: absolute;
    content: "";
    bottom: -10%;
    z-index: 3;
    left: -6%;
    width: 25%;
  }
  .openpeti {
    position: absolute;
    content: "";
    bottom: -9%;
    z-index: 3;
    right: -3%;
    width: 25%;
  }

  .phase {
    background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pt_70 {
    padding-top: 70px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0 !important;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .slick-track{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .stashimg-1{
    position: absolute;
    bottom: 0;
    width: 35%;
    min-width: 140px;
    max-width: 300px;
    left: 0%;
  }
  .stashimg-2{
    position: absolute;
    bottom: 0;
    width: 35%;
    min-width: 140px;
    max-width: 300px;
    left: 31%;
  }
  .stashimg-3{
    position: absolute;
    bottom: 0;
    width: 35%;
    min-width: 140px;
    max-width: 300px;
    left: 61%;
  }
  .team-card {
    border-radius: 18px;
    position: relative;
    backdrop-filter: blur(31.478700637817383px);
}

.team-card::after {
    content: "";
    position: absolute;
    border-radius: 18px;
    padding: 1.5px;
    background: linear-gradient(10deg, #FED710 0%, #FF5001 100%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}
.roadmap-img{
  width: 100%;
    min-width: 250px;
    max-width: 514px;
}

.royalty-para{
  padding-top: 31px;
  padding-right: 55px;
  padding-left: 54px;
}


















  @media (max-width: 576px) {
    .ww_100 {
      width: 100%;
    }
  }
@media (min-width:576px) {
    .btn-3 {
        padding: 8px 10px;
        border: none;
        border-radius: 100px;
        background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
        color: white;
    }

    

    .nav-link {
        font-size: 20px !important;
    }
    .openpeti {
        position: absolute;
        content: "";
        bottom: -9%;
        z-index: 3;
        right: -2%;
      }
      .closepeti {
        position: absolute;
        content: "";
        bottom: -11%;
        z-index: 3;
      }
      
}

@media (min-width:768px) {
    .btn-3 {
        padding: 8px 10px;
        border: none;
        border-radius: 100px;
        background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
        color: white;
    }
    .circle-play{
        width: 140px;
    height: 140px;
    left: 0;
    bottom: 0;
    }
    .play-btn{
      left: -5%;
    top: 88%;
    }
    .circle-play2{
        width: 100px;
        height: 100px;
        top: 15%;
        left: 15%;
    }
    .circle-play3{
        width: 75px;
    height: 75px;
    top: 24%;
    left: 24%;
    }
    .play-icon{
        top: 41%;
        left: 44%;
    }
    .openpeti {
        position: absolute;
        content: "";
        bottom: -11%;
        z-index: 3;
        right: -3%;
      }
      .closepeti {
        position: absolute;
        content: "";
        bottom: -11%;
        z-index: 3;
        left: -5%;
      }
      .pt_120 {
        padding-top: 80px;
      }.stashimg-1{
        position: absolute;
        bottom: 0;
        width: 20%;
        min-width: 150px;
        max-width: 300px;
        left: 21%;
      }
      .stashimg-2{
        position: absolute;
        bottom: 0;
        width: 20%;
        min-width: 150px;
        max-width: 300px;
        left: 41%;
      }
      .stashimg-3{
        position: absolute;
        bottom: 0;
        width: 20%;
        min-width: 150px;
        max-width: 300px;
        left: 61%;
      }

}

@media (min-width:992px) {
    .nav-bar {
        position: static;
        background: inherit;
        flex-direction: row;
        width: auto;
        height: 100%;
    }
    .openpeti {
        position: absolute;
        content: "";
        bottom: -6%;
        z-index: 3;
        right: -3%;
        width: 20%;
      }
      .closepeti {
        position: absolute;
        content: "";
        bottom: -12%;
        z-index: 3;
        left: -7%;
        width: 20%;
      }
      .pt_98 {
        padding-top: 98px;
      }
      .pt_91 {
        padding-top: 91px;
      }
      .pb_70 {
        padding-bottom: 70px;
      }
      .pt_120 {
        padding-top: 120px;
      }
      .btn-2{
        padding: 14px 28px ;
      }
      br{
        display: block;
      }
      .play-btn{
        left: -10%;
    top: 80%;
      }
}

@media (min-width:1200px) {
    header {
        height: 100vh;
    }

    .btn-3 {
        padding: 12px 32px;
    }
    .openpeti{
      right: -6%;
    bottom: -13%;
    }
    .min-h-100{
      height: 100vh;
    }
    .royalty-para{
      padding-right: 135px;
    padding-left: 144px;
    }
    
}